@import "tailwindcss";

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));
/*  */
@theme {
  /* colors */

  /* font family */
  --font-primary: "Montserrat", sans-serif;
}

@layer components {
  html {
    scroll-behavior: smooth;
    /* overflow-x: hidden;
    overflow-y: scroll; */
  }
}
