@import "tailwindcss";
/*  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/*  */

:root {
  --primary-color: #fbfbfb;
  --secondary-color: #4e71ff;
  --black-color: #000000;
  --red-color: #dc143c;
  --white-color: white;
  /*  */
  /* --font-body: "Inter", sans-serif; */
  --primary-font: "Ubuntu", sans-serif;
}
